body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid red;
    width: 500px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="range"] {
    width: 80%;
}

.emoticon {
    flex-basis: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #ffeb3b;
}

.emoticon+.emoticon {
    margin-left: 10px;

}

.emoticon-1 {
    position: relative;

    .eye-l {
        position: absolute;
        left: 20%;
        top: 25%;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: black;
    }

    .eye-r {
        position: absolute;
        right: 20%;
        top: 25%;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: black;
    }

    .mouse {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 30px;
        border-radius: 49% 51% 49% 51% / 50% 46% 54% 50%;
        background-color: rgb(0, 0, 0);
        animation-name: firstAnim;
        animation-duration: 2s;

        &::after {
            content: '';
            position: absolute;
            top: 4px;
            width: inherit;
            height: inherit;
            border-radius: 49% 51% 49% 51% / 50% 46% 54% 50%;
            background-color: #ffeb3b;
        }
    }
}



@keyframes firstAnim {
    to {
        width: 30px;
    }
}